In [1]:
import pandas as pd
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)
seed = 2018

In [43]:
train = pd.read_csv("data_input/npl_train.csv")

In [44]:
train = train.drop("X", axis=1)

In [45]:
train.head()

,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,kode_cabang,rasio_pembayaran,persentasi_overlimit,rasio_pembayaran_3bulan,rasio_pembayaran_6bulan,skor_delikuensi,flag_kredit_macet,jumlah_tahun_sejak_pembukaan_kredit,total_pemakaian,sisa_tagihan_per_jumlah_kartu,sisa_tagihan_per_limit,total_pemakaian_per_limit,pemakaian_3bln_per_limit,pemakaian_6bln_per_limit,utilisasi_3bulan,utilisasi_6bulan
0,2,36158,7000000.0,23437.0,0.0,94.0,26323.0,I,102.19,0.0,74.78,100.00,0,0,15.416667,94.0,13161.5,0.003760,0.000013,0.011719,0.017810,0.013228,0.021949
1,2,268691,10000000.0,254564.0,0.0,1012.0,0.0,A,0.00,0.0,0.00,0.00,0,0,0.750000,1012.0,0.0,0.000000,0.000101,0.000000,0.000000,0.004232,0.000300
2,3,6769149,28000000.0,4159779.0,0.0,0.0,0.0,A,100.00,0.0,100.00,100.91,0,0,10.750000,0.0,0.0,0.000000,0.000000,0.040518,0.047703,0.249389,0.267853
3,4,3496732,21000000.0,111231.0,0.0,2536660.0,581334.0,G,100.00,0.0,25.01,22.64,0,0,19.750000,2536660.0,145333.5,0.027683,0.120793,0.055971,0.016851,0.101912,0.346635
4,2,9402085,10000000.0,6099283.0,0.0,2666558.0,5951865.0,A,95.99,0.0,97.49,99.84,0,0,1.666667,2666558.0,2975932.5,0.595186,0.266656,0.323027,0.131162,0.707865,0.336571

In [46]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15493 entries, 0 to 15492
Data columns (total 23 columns):
jumlah_kartu                           15493 non-null int64
outstanding                            15493 non-null int64
limit_kredit                           15493 non-null float64
tagihan                                15493 non-null float64
total_pemakaian_tunai                  15493 non-null float64
total_pemakaian_retail                 15493 non-null float64
sisa_tagihan_tidak_terbayar            15493 non-null float64
kode_cabang                            15393 non-null object
rasio_pembayaran                       15493 non-null float64
persentasi_overlimit                   15493 non-null float64
rasio_pembayaran_3bulan                15493 non-null float64
rasio_pembayaran_6bulan                15493 non-null float64
skor_delikuensi                        15493 non-null int64
flag_kredit_macet                      15493 non-null int64
jumlah_tahun_sejak_pembukaan_kredit    15493 non-null float64
total_pemakaian                        15493 non-null float64
sisa_tagihan_per_jumlah_kartu          15493 non-null float64
sisa_tagihan_per_limit                 15493 non-null float64
total_pemakaian_per_limit              15493 non-null float64
pemakaian_3bln_per_limit               15493 non-null float64
pemakaian_6bln_per_limit               15493 non-null float64
utilisasi_3bulan                       15493 non-null float64
utilisasi_6bulan                       15493 non-null float64
dtypes: float64(18), int64(4), object(1)
memory usage: 2.7+ MB

In [47]:
train.isna().sum()

jumlah_kartu                             0
outstanding                              0
limit_kredit                             0
tagihan                                  0
total_pemakaian_tunai                    0
total_pemakaian_retail                   0
sisa_tagihan_tidak_terbayar              0
kode_cabang                            100
rasio_pembayaran                         0
persentasi_overlimit                     0
rasio_pembayaran_3bulan                  0
rasio_pembayaran_6bulan                  0
skor_delikuensi                          0
flag_kredit_macet                        0
jumlah_tahun_sejak_pembukaan_kredit      0
total_pemakaian                          0
sisa_tagihan_per_jumlah_kartu            0
sisa_tagihan_per_limit                   0
total_pemakaian_per_limit                0
pemakaian_3bln_per_limit                 0
pemakaian_6bln_per_limit                 0
utilisasi_3bulan                         0
utilisasi_6bulan                         0
dtype: int64

In [48]:
train["flag_kredit_macet"].value_counts()

0    14134
1     1359
Name: flag_kredit_macet, dtype: int64

In [51]:
#masukkin kolom2 categorical dengan modenya
# train['kode_cabang'] = train['kode_cabang'].apply(lambda x:x.fillna(x.value_counts().index[0]))
# test['kode_cabang'] = test['kode_cabang'].apply(lambda x:x.fillna(x.value_counts().index[0]))
train['kode_cabang'].fillna(value=train['kode_cabang'].mode()[0], inplace=True)
train.isna().sum()

jumlah_kartu                           0
outstanding                            0
limit_kredit                           0
tagihan                                0
total_pemakaian_tunai                  0
total_pemakaian_retail                 0
sisa_tagihan_tidak_terbayar            0
kode_cabang                            0
rasio_pembayaran                       0
persentasi_overlimit                   0
rasio_pembayaran_3bulan                0
rasio_pembayaran_6bulan                0
skor_delikuensi                        0
flag_kredit_macet                      0
jumlah_tahun_sejak_pembukaan_kredit    0
total_pemakaian                        0
sisa_tagihan_per_jumlah_kartu          0
sisa_tagihan_per_limit                 0
total_pemakaian_per_limit              0
pemakaian_3bln_per_limit               0
pemakaian_6bln_per_limit               0
utilisasi_3bulan                       0
utilisasi_6bulan                       0
dtype: int64

In [53]:
y_train = train["flag_kredit_macet"]

In [54]:
from collections import Counter
Counter(y_train)

Counter({0: 14134, 1: 1359})

In [55]:
X_train = train.drop("flag_kredit_macet", axis=1)

In [56]:
X_train_dum = pd.get_dummies(X_train)

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score

In [58]:
skfold = StratifiedKFold(n_splits=10, random_state=seed)

In [59]:
# model = LogisticRegression()
model = RandomForestClassifier(n_estimators=100, random_state=seed)

In [60]:
score = cross_val_score(model, X_train_dum, y_train, scoring="roc_auc", cv=skfold)

In [61]:
score

array([0.85887189, 0.84926731, 0.8648052 , 0.86380158, 0.85560811,
       0.82685723, 0.84069928, 0.85801746, 0.87461752, 0.86148201])

In [63]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_curve
def cfm(test, pred):
    cm1=pd.DataFrame(confusion_matrix(test, pred),columns=['Target 0','Target 1'],index=['Target 0', 'Target 1'])
    cm = confusion_matrix(test, pred)
    
    TP = cm[1][1]
    TN = cm[0][0]
    FP = cm[0][1]
    FN = cm[1][0]

    total = sum(sum(cm))
    accuracy = (TN + TP)/total
    sensitivity = TP/(FN + TP)
    specificity = TN/(TN + FP)
    precision = TP / (TP+ FP)
    npv = TN / (FN + TN)
    # Build ROC curve
    fpr, tpr, threshold= roc_curve(val_y, y_predict_rf)
    #print(cm1)
    
    print("Accuracy: ",accuracy)
    print("Precision: ", precision)
    print("Sensitivity: ", sensitivity)
    print("Specificity: ", specificity)
    print("Negative predictive value: ", npv)

In [64]:
from sklearn.model_selection import train_test_split, cross_val_score
train_x,val_x,train_y,val_y=train_test_split(X_train_dum, y_train,test_size=0.3,random_state=123)

In [70]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=123, ratio=1.0)
train_xnn2_res,train_ynn2_res = sm.fit_sample(train_x,train_y)

C:\Users\wildan aulia h\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:77: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)

In [74]:
#Random Forest
ranfor = RandomForestClassifier(n_estimators=50,min_samples_leaf=10, min_samples_split=5, max_depth=20, random_state=123,n_jobs=-1)
ranfor.fit(train_x,train_y)

print(ranfor.score(val_x, val_y))

0.9150172117039587

In [75]:
y_predict_rf = ranfor.predict(val_x)
accuracy_score(val_y, y_predict_rf)

0.9150172117039587

In [76]:
cfm(val_y,y_predict_rf)

Accuracy:  0.9150172117039587
Precision:  0.6851851851851852
Sensitivity:  0.0891566265060241
Specificity:  0.9959839357429718
Negative predictive value:  0.9177187636047018

In [28]:
test = pd.read_csv("data_input/npl_test.csv")

In [25]:
test = test.drop("X", axis=1)

In [29]:
test.head()

,X,jumlah_kartu,outstanding,limit_kredit,tagihan,total_pemakaian_tunai,total_pemakaian_retail,sisa_tagihan_tidak_terbayar,kode_cabang,rasio_pembayaran,persentasi_overlimit,rasio_pembayaran_3bulan,rasio_pembayaran_6bulan,skor_delikuensi,jumlah_tahun_sejak_pembukaan_kredit,total_pemakaian,sisa_tagihan_per_jumlah_kartu,sisa_tagihan_per_limit,total_pemakaian_per_limit,pemakaian_3bln_per_limit,pemakaian_6bln_per_limit,utilisasi_3bulan,utilisasi_6bulan
0,15494,2,60792,3000000.0,44480.0,0.0,0.0,48137,A,98.99,0.00,49.76,30.73,0,2.0,0.0,24068.5,0.016046,0.000000,0.032890,0.011111,0.158176,0.526592
1,15495,4,76553607,62000000.0,55456096.0,0.0,0.0,74462952,A,0.00,26.58,53.65,102.60,0,8.5,0.0,18615738.0,1.201015,0.000000,0.003065,0.410565,1.117404,1.051829
2,15496,2,133429,10000000.0,64248.0,0.0,112292.0,0,C,100.00,0.00,38.19,33.33,0,8.5,112292.0,0.0,0.000000,0.011229,0.017020,0.051167,0.012370,0.018460
3,15497,2,819217,30000000.0,504339.0,0.0,528500.0,31206,A,100.00,0.00,100.14,100.00,0,4.5,528500.0,15603.0,0.001040,0.017617,0.027291,0.013551,0.027675,0.005314
4,15498,2,775729,6000000.0,761151.0,0.0,0.0,0,A,100.00,0.00,25.00,11.62,0,2.0,0.0,0.0,0.000000,0.000000,0.171277,0.044444,0.341585,0.772101

In [26]:
train.columns

Index(['jumlah_kartu', 'outstanding', 'limit_kredit', 'tagihan',
       'total_pemakaian_tunai', 'total_pemakaian_retail',
       'sisa_tagihan_tidak_terbayar', 'kode_cabang', 'rasio_pembayaran',
       'persentasi_overlimit', 'rasio_pembayaran_3bulan',
       'rasio_pembayaran_6bulan', 'skor_delikuensi', 'flag_kredit_macet',
       'jumlah_tahun_sejak_pembukaan_kredit', 'total_pemakaian',
       'sisa_tagihan_per_jumlah_kartu', 'sisa_tagihan_per_limit',
       'total_pemakaian_per_limit', 'pemakaian_3bln_per_limit',
       'pemakaian_6bln_per_limit', 'utilisasi_3bulan', 'utilisasi_6bulan'],
      dtype='object')